---
// src/layouts/Layout.astro
import '../styles/global.css';
export let title: string = 'Marcos Muñoz - Portafolio';
export let description: string = 'Portafolio profesional de Marcos Muñoz, desarrollador web especializado en Astro, React y Node.js. Vivo en Santiago de Chile, San Bernardo.';
export let url: string = 'https://portafoliomarcosm.netlify.app/';
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marcos Muñoz - Portafolio</title>
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/icono-portafolio2.svg">
  <!-- Meta tags SEO -->
  <meta name="description" content="Portafolio profesional de Marcos Muñoz, desarrollador web especializado  en Astro, React y Node.js.
   vivo en Santiago de Chile comuna de San Bernardo.">
</head>
<body class="bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-100 font-sans antialiased">
  <div class="min-h-screen flex flex-col">
    <slot />
    
    <!-- Footer -->
    <footer class="mt-auto py-6 bg-gradient-to-b from-gray-800 to-slate-900 text-white">
      <div class="container mx-auto px-4 text-center">
        <p>© 2025 Marcos Muñoz, bless.</p>
      </div>
    </footer>
  </div>
</body>
</html>